.team {
    font-size: 16px;
    &__filial {
        margin-bottom: 20px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        font-size: 16px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 0 5px;
        font-size: 14px;
        max-width: 140px;
    }
    &__photo {
        width: 120px;
        height: 120px;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    &__post {
        font-size: 12px;
        font-family: 'A.C.M.E. Secret Agent';
        padding-top: 5px;
    }
    &__name {
        font-size: 12px;
        margin-bottom: 10px;
        text-transform: capitalize;
    }
    &__nickname {
        font-family: 'A.C.M.E. Secret Agent';
        font-size: 12px;
        text-transform: uppercase;
    }
    &__image {
        margin-bottom: 4px;
        max-width: 300px;
    }
    &__photo {
        width: 120px;
        height: 120px;
    }
    &__title {
        font-size: 18px;
        margin-bottom: 10px;
        color: #F9A037;
        font-weight: 400;
    }
}
@media(min-width: 600px) {
    .team {
        &__wrapper {
            align-items: flex-start;
        }
        &__photo {
            width: 200px;
            height: 200px;
        }
        &__info {
            align-self: flex-start;
            margin: 0;
        }
        &__image {
            width: 200px;
            height: 200px;
        }
            &__item {
            padding: 0;
            max-width: 350px;
        }
    }
}

@media(min-width: 1400px){
    .team{
        &__title {
            margin-bottom: 30px;
        }
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            max-width: 50%;
        }
        &__photo {
            margin-right: 30px;
            margin-bottom: 5px;
        }
        &__info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &__filial {
            margin-bottom: 30px;
        }
        &__item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &__image {
            margin-bottom: 10px;

        }
        &__name {
            font-size: 18px;
        }
        &__nickname {
            font-size: 18px;
        }

    }
}