.arrow {
    position: absolute;
    z-index: 1000;
    min-width: 64px;
    min-height: 64px;
    border: none;
    background: none;
    bottom: 10px;
    right: 32%;
    cursor: pointer;
}
@media(min-width: 1000px){
    .arrow {
        right: 45%;
    }
}