.about {
    display: flex;
    padding: 60px 10px;
    flex-direction: column;
    flex-wrap: wrap;
    &__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
    }
    &__subtitle {
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        text-align: left;
        margin-bottom: 25px;
    }
    &__description {
        max-width: 500px;
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        text-align: justify;
        font-size: 20px;
    }
}

@media(min-width: 1400px){
    .about {
        display: flex;
        min-height: 350px;
        padding: 50px 70px;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        &__body {
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        &__subtitle {
            color: #FFF;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            text-align: right;
            margin-bottom: 25px;
        }
        &__description {
            max-width: 850px;
            color: #FFF;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
        }
    }
}