.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 80px;
    font-size: 14px;
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
                &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
    &__link {
        padding-left: 10px;
    }
    &__list {
        display: flex;
        width: 85%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
@media(min-width: 600px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
    }    
}